In [60]:
%run learngroupby.py

     A      B         C         D
0  bar    one -1.124077 -1.407888
1  bar  three  1.514428  1.827154
2  bar    two  1.179416  1.028068
3  foo    one -0.146865  3.131559
4  foo  three  1.946933  0.388284
5  foo    two -1.337827 -0.201519
     A      B         C         D
0  bar    one -1.124077 -1.407888
1  bar  three  1.514428  1.827154
2  bar    two  1.179416  1.028068
3  foo    one -0.146865  3.131559
4  foo  three  1.946933  0.388284
5  foo    two -1.337827 -0.201519
A
bar    3
foo    5
dtype: int64
A    B
bar  one      1
     three    1
     two      1
foo  one      2
     three    1
     two      2
dtype: int64
            C                             D
          sum      mean       std       sum      mean       std
A
bar  1.569766  0.523255  1.436432  1.447334  0.482445  1.685127
foo  0.462241  0.092448  1.273879  3.318324  0.663665  1.367011
                  C                             D
                sum      mean       std       sum      mean       std
A   B
bar one   -1.124077 -1.124077       NaN -1.407888 -1.407888       NaN
    three  1.514428  1.514428       NaN  1.827154  1.827154       NaN
    two    1.179416  1.179416       NaN  1.028068  1.028068       NaN
foo one   -0.146865 -0.073432  0.249022  3.131559  1.565779  0.094354
    three  1.946933  1.946933       NaN  0.388284  0.388284       NaN
    two   -1.337827 -0.668914  1.332504 -0.201519 -0.100760  2.143321