In [2]:
users3 = {"David": {"Imagine Dragons": 3, "Daft Punk": 5,"Lorde": 4, "Fall Out Boy": 1},
"Matt": {"Imagine Dragons": 3, "Daft Punk": 4,"Lorde": 4, "Fall Out Boy": 1},
"Ben":{"Kacey Musgraves": 4, "Imagine Dragons": 3,"Lorde": 3, "Fall Out Boy": 1},
"Chris": {"Kacey Musgraves": 4, "Imagine Dragons": 4,"Daft Punk": 4, "Lorde": 3, "Fall Out Boy": 1},
"Tori": {"Kacey Musgraves": 5, "Imagine Dragons": 4,"Daft Punk": 5, "Fall Out Boy": 3}}

In [3]:
import pandas as pd
import math
from functools import reduce
df = pd.DataFrame(users3)
df

                 Ben  Chris  David  Matt  Tori
Daft Punk        NaN      4      5     4     5
Fall Out Boy       1      1      1     1     3
Imagine Dragons    3      4      3     3     4
Kacey Musgraves    4      4    NaN   NaN     5
Lorde              3      3      4     4   NaN

In [149]:
def computeSimilarity(band1,band2,userratings):
    num = 0
    den1 = 0
    den2= 0
    for user in userratings.columns:
        if not math.isnan(df[user][band1]) and not math.isnan(df[user][band2]):
            avgu = df[user].mean()
            num += (df[user][band1]-avgu) * (df[user][band2]-avgu) 
            den1+= (df[user][band1]-avgu) ** 2
            den2+= (df[user][band2]-avgu) ** 2
    return num/(math.sqrt(den1) * math.sqrt(den2))

In [178]:
import numpy as np
dfr = pd.DataFrame(np.zeros((5,4)),index=['Kacey Musgraves','Imagine Dragons','Daft Punk','Lorde','Fall Out Boy'],columns=['Fall Out Boy','Lorde','Daft Punk','Imagine Dragons'])

In [179]:
dfr

                 Fall Out Boy  Lorde  Daft Punk  Imagine Dragons
Kacey Musgraves             0      0          0                0
Imagine Dragons             0      0          0                0
Daft Punk                   0      0          0                0
Lorde                       0      0          0                0
Fall Out Boy                0      0          0                0

In [183]:
for c in dfr.columns:
     for i in dfr.index:
            if c == i:
                dfr[c][c] = None
            else:
                dfr[c][i] = computeSimilarity(c,i,df)

In [185]:
#excercise answer
dfr

                 Fall Out Boy     Lorde  Daft Punk  Imagine Dragons
Kacey Musgraves     -0.954897  0.320959   1.000000         0.525997
Imagine Dragons     -0.337756 -0.252527   0.007474              NaN
Daft Punk           -0.956948  0.784115        NaN         0.007474
Lorde               -0.693351       NaN   0.784115        -0.252527
Fall Out Boy              NaN -0.693351  -0.956948        -0.337756

In [4]:
users4 = {"Taylor Swift": {"Amy": 4, "Ben": 4,"Clara": None, "Daisy": 5},
"PSY": {"Amy": 3, "Ben": 2,"Clara": 3.5, "Daisy": None},
"Whitney Houston": {"Amy": 4, "Ben": None,"Clara": 4, "Daisy": 3}
}

In [5]:
cdf = pd.DataFrame(users4)

       PSY  Taylor Swift  Whitney Houston
Amy    3.0             4                4
Ben    2.0             4              NaN
Clara  3.5           NaN                4
Daisy  NaN             5                3

In [44]:
bk = pd.read_csv('BX-Book-Ratings.csv',sep=';',index_col=False)
bk

         276725   034545104X   0
0        276726   0155061224   5
1        276727   0446520802   0
2        276729   052165615X   3
3        276729   0521795028   6
4        276733   2080674722   0
5        276736   3257224281   8
6        276737   0600570967   6
7        276744   038550120X   7
8        276745    342310538  10
9        276746   0425115801   0
10       276746   0449006522   0
11       276746   0553561618   0
12       276746   055356451X   0
13       276746   0786013990   0
14       276746   0786014512   0
15       276747   0060517794   9
16       276747   0451192001   0
17       276747   0609801279   0
18       276747   0671537458   9
19       276747   0679776818   8
20       276747   0943066433   7
21       276747   1570231028   0
22       276747   1885408226   7
23       276748   0747558167   6
24       276748   3442437407   0
25       276751   033390804X   0
26       276751   3596218098   8
27       276754   0684867621   8
28       276755   0451166892   5
29       276760   8440682697  10
...         ...          ...  ..
1149749  276690   0312970188   0
1149750  276690   0440439884   0
1149751  276690   0590453653   0
1149752  276690   0590453688   0
1149753  276690   0590455419   0
1149754  276690   0590464116   0
1149755  276690   0590581066   0
1149756  276690   0590907301   0
1149757  276697   8445072897   0
1149758  276704   0152022597   0
1149759  276704   0312873115   0
1149760  276704   0345386108   6
1149761  276704   0380796155   5
1149762  276704   0395404258   0
1149763  276704   0425060772   0
1149764  276704   0440206529   0
1149765  276704   0441007813   0
1149766  276704   0446353957   0
1149767  276704   0446605409   0
1149768  276704   059032120X   0
1149769  276704   0679752714   0
1149770  276704   0743211383   7
1149771  276704   080410526X   0
1149772  276704   0806917695   5
1149773  276704   0876044011   0
1149774  276704   1563526298   9
1149775  276706   0679447156   0
1149776  276709   0515107662  10
1149777  276721   0590442449  10
1149778  276723  05162443314   8

[1149779 rows x 3 columns]

In [58]:
usrs = pd.read_csv('BX-Books.csv',sep=' ')
usrs

CParserError: Error tokenizing data. C error: Expected 7 fields in line 4, saw 23