In [1]:
users3 = {"David": {"Imagine Dragons": 3, "Daft Punk": 5,"Lorde": 4, "Fall Out Boy": 1},
"Matt": {"Imagine Dragons": 3, "Daft Punk": 4,"Lorde": 4, "Fall Out Boy": 1},
"Ben":{"Kacey Musgraves": 4, "Imagine Dragons": 3,"Lorde": 3, "Fall Out Boy": 1},
"Chris": {"Kacey Musgraves": 4, "Imagine Dragons": 4,"Daft Punk": 4, "Lorde": 3, "Fall Out Boy": 1},
"Tori": {"Kacey Musgraves": 5, "Imagine Dragons": 4,"Daft Punk": 5, "Fall Out Boy": 3}}

In [153]:
import pandas as pd
import math
from functools import reduce
df = pd.DataFrame(users3)
df

                 Ben  Chris  David  Matt  Tori
Daft Punk        NaN      4      5     4     5
Fall Out Boy       1      1      1     1     3
Imagine Dragons    3      4      3     3     4
Kacey Musgraves    4      4    NaN   NaN     5
Lorde              3      3      4     4   NaN

In [149]:
def computeSimilarity(band1,band2,userratings):
    num = 0
    den1 = 0
    den2= 0
    for user in userratings.columns:
        if not math.isnan(df[user][band1]) and not math.isnan(df[user][band2]):
            avgu = df[user].mean()
            num += (df[user][band1]-avgu) * (df[user][band2]-avgu) 
            den1+= (df[user][band1]-avgu) ** 2
            den2+= (df[user][band2]-avgu) ** 2
    return num/(math.sqrt(den1) * math.sqrt(den2))

In [178]:
import numpy as np
dfr = pd.DataFrame(np.zeros((5,4)),index=['Kacey Musgraves','Imagine Dragons','Daft Punk','Lorde','Fall Out Boy'],columns=['Fall Out Boy','Lorde','Daft Punk','Imagine Dragons'])

In [179]:
dfr

                 Fall Out Boy  Lorde  Daft Punk  Imagine Dragons
Kacey Musgraves             0      0          0                0
Imagine Dragons             0      0          0                0
Daft Punk                   0      0          0                0
Lorde                       0      0          0                0
Fall Out Boy                0      0          0                0

In [183]:
for c in dfr.columns:
     for i in dfr.index:
            if c == i:
                dfr[c][c] = None
            else:
                dfr[c][i] = computeSimilarity(c,i,df)

In [185]:
#excercise answer
dfr

                 Fall Out Boy     Lorde  Daft Punk  Imagine Dragons
Kacey Musgraves     -0.954897  0.320959   1.000000         0.525997
Imagine Dragons     -0.337756 -0.252527   0.007474              NaN
Daft Punk           -0.956948  0.784115        NaN         0.007474
Lorde               -0.693351       NaN   0.784115        -0.252527
Fall Out Boy              NaN -0.693351  -0.956948        -0.337756