In [58]:
%run movieclassify.py
#y = loadData().ix[72]
#y= y[1:].index.map(lambda x: int(x))
#lens["rating"][(lens["user_id"].isin(y)) & (lens["movie_id"] == 5)].mode()

In [65]:
lens.describe()

,movie_id,video_release_date,user_id,rating,unix_timestamp,age
count,100000.000000,0,100000.00000,100000.000000,1.000000e+05,100000.000000
mean,425.530130,NaN,462.48475,3.529860,8.835289e+08,32.969850
std,330.798356,NaN,266.61442,1.125674,5.343856e+06,11.562623
min,1.000000,NaN,1.00000,1.000000,8.747247e+08,7.000000
25%,175.000000,NaN,254.00000,3.000000,8.794487e+08,24.000000
50%,322.000000,NaN,447.00000,4.000000,8.828269e+08,30.000000
75%,631.000000,NaN,682.00000,4.000000,8.882600e+08,40.000000
max,1682.000000,NaN,943.00000,5.000000,8.932866e+08,73.000000

In [67]:
 lens["rating"].hist(bins=20)

In [68]:
plt.show()

In [73]:
lens["rating"].unique()

array([4, 5, 3, 2, 1])

In [78]:
len(lens.index)/len(lens["movie_id"].unique())

59.45303210463734

In [79]:
predictUserMovieRating(56,8,df4)

0    5
dtype: int64

In [85]:
len(users["occupation"].unique())

21

In [86]:
users["occupation"].mode()

0    student
dtype: object

In [90]:
y = lens[lens["movie_id"] == 8].groupby('sex').size()

In [94]:
lens[lens["movie_id"] == 8].groupby('sex').apply(lambda x: x['rating'].sum()/x['rating'].count())

sex
F      4.050000
M      3.974843
dtype: float64

In [130]:
lens.describe()

,movie_id,video_release_date,user_id,rating,unix_timestamp,age
count,100000.000000,0,100000.00000,100000.000000,1.000000e+05,100000.000000
mean,425.530130,NaN,462.48475,3.529860,8.835289e+08,32.969850
std,330.798356,NaN,266.61442,1.125674,5.343856e+06,11.562623
min,1.000000,NaN,1.00000,1.000000,8.747247e+08,7.000000
25%,175.000000,NaN,254.00000,3.000000,8.794487e+08,24.000000
50%,322.000000,NaN,447.00000,4.000000,8.828269e+08,30.000000
75%,631.000000,NaN,682.00000,4.000000,8.882600e+08,40.000000
max,1682.000000,NaN,943.00000,5.000000,8.932866e+08,73.000000

In [152]:
lens["release_date"][pd.isnull(lens["release_date"])]

899      NaN
2092     NaN
11419    NaN
20369    NaN
23138    NaN
27774    NaN
41706    NaN
78071    NaN
99692    NaN
Name: release_date, dtype: object

In [153]:
lens.ix[899]

movie_id                    267
title                   unknown
release_date                NaN
video_release_date          NaN
imdb_url                    NaN
user_id                       5
rating                        4
unix_timestamp        875635064
age                          33
sex                           F
occupation                other
zip_code                  15213
Name: 899, dtype: object